In [5]:
!pip install simplekml

Collecting simplekml
  Downloading simplekml-1.3.5-py3-none-any.whl (65 kB)
Installing collected packages: simplekml
Successfully installed simplekml-1.3.5

In [19]:
import pandas as pd
import simplekml
import pprint
import numpy as np
from tqdm.notebook import tqdm

In [2]:
res = pd.read_csv('BadTracksHackaton1801.txt', sep=' ', encoding='cp1250', header=None)

In [3]:
res

               0     1          2          3      4       5        6
0        0:00:01     8  49.722522  40.308650  11567  1025.0  TUM9102
1        0:00:11     8  49.737334  40.285857  11567  1025.0  TUM9102
2        0:00:21     8  49.752375  40.264201  11567  1025.0  TUM9102
3        0:00:31     8  49.767809  40.243869  11567  1025.0  TUM9102
4        0:00:41     8  49.785372  40.222412  11575  1025.0  TUM9102
...          ...   ...        ...        ...    ...     ...      ...
569245  23:59:13  3669  57.862780  41.943280  10668  1546.0  AFL1512
569246  23:59:23  3669  57.870371  41.980686  10668  1546.0  AFL1512
569247  23:59:33  3669  57.878026  42.017266  10668  1546.0  AFL1512
569248  23:59:54  3669  57.889473  42.090678  10668  1546.0  AFL1512
569249  23:59:55  3669  57.890519  42.098520  10668  1546.0  AFL1512

[569250 rows x 7 columns]

In [11]:
res['rest_data'] = res[0].astype(str) + '_' + res[1].astype(str) + '_' + res[5].astype(str) + '_' + res[6].astype(str)

In [38]:
res_cool = res[[2,3,4, 1]]
res_cool[1] = res_cool[1].astype('str')

<ipython-input-38-93ce3ac041c5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_cool[1] = res_cool[1].astype('str')

In [42]:
dict_dataframes=dict(tuple(res_cool.groupby(1)))

In [43]:
dict_dataframes=dict(tuple(res_cool.groupby(1)))

for name, df in tqdm(dict_dataframes.items()):

    ###CREATING A LIST OF TUPLES WITH THE COLUMNS OF THE DATAFRAME
    tuples = [tuple(x) for x in df.values]


    extrude=1
    altitudemode = simplekml.AltitudeMode.relativetoground

    pol = kml.newpolygon(name = name, description="District of " + name, outerboundaryis=tuples, extrude=extrude, altitudemode=altitudemode)
    pol.style.linestyle.color = simplekml.Color.honeydew
    pol.style.linestyle.width = 3
    pol.style.polystyle.color = simplekml.Color.changealphaint(100, simplekml.Color.navy)


###SAVING THE FILE    
kml.save('3d_file.kml')

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=1081.0), HTML(value='')))